body {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;

}
/*start navbar*/
#header-nav {
    background-color: #557c3e;
    border-radius: 0;
    border: 0;
}
.navbar-brand h1 { 
    font-family: 'Lora', serif;
    color: lightgoldenrodyellow;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

/*collapse navbar*/

#nav-list>hr {
    width: 50%;
    margin: 0 auto 0;
}
#nav-list {
    margin-top: 0;
    margin-bottom: 0;
}
#nav-list a {
    color: lightgoldenrodyellow;
    text-align: center;
    font-weight: bold;
}
#nav-list a:hover {
    background: linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(0,0,0,0.5));
}
button.navbar-toggle, .navbar-header .icon-bar {
    border: 1.2px solid white;
}
/*end collapse navbar*/
/*end navbar*/
/*main*/
main > h1{
    font-size: 1.7em;
}
.row{
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;

}
.row:first-child{
    margin-top: 10px;
}
.row .section-menu{
    border: 1px solid black;
    background: lightgray;

    padding: 0 20px 20px;  
    margin-bottom: 10px;
    overflow: hidden;
    text-align: justify;
}
.section-menu > h4{
    font-weight: bold;
}

/*end main*/

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .row{
        width: 90%;
    }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    .row{
        width: 70%;
    }
}